* {
  font-size: 1rem;
  box-sizing: border-box;
  margin: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  height: 100vh;
  padding-top: 3rem;
}

nav {
  position: fixed;
  top: 0;
  background-color: hsl(0, 100%, 100%);
  opacity: 0.9;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 3rem;
}

nav > a {
  text-decoration: none;
  color: hsl(0, 100%, 0%);
  padding: 0 2rem;
}

.about__text {
  width: 55%;
  margin-bottom: 10%;
  text-align: justify;

}
.about__heading {
  text-align: center;
}

.about__team {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.about__person {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
}

.landing{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1570083208073-f0c09ea8dcf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") no-repeat center center fixed;
  background-size: cover;
}

.landing__title{
  width: 50%;
  text-align: center;
}

.about__links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.about__links--icon {
  font-size: 2rem;
  color: hsl(0,0%,0%);

}

form {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  text-align: right;
  align-items: center;
  justify-content: center;
}

.form__label {
  width: 10%;
  padding: 1rem;
  margin-top: 1rem;
}

.form__input {
  width: 90%;
  padding: 1rem;
  margin-top: 1rem;
}

textarea {
  min-height: 10rem;
  resize: vertical;
}

.form__submit {
  width: 10rem;
  margin: 1rem;
}

.copyright-footer{
display: flex;
height: 15rem;
justify-content: center;
align-items: center;
background-color: grey;
}

.copyright-footer__text{
text-align: center;
}

@media screen and (max-width: 1700px) {

  .about__links--icon{
    font-size: 3vw;
  }
}

@media screen and (max-width: 600px){
.landing__title{
    width: 65%;
    font-size: 85%;
  }
  .about__team {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
  .about__person {
  margin-bottom: 2rem;
  }
.about__img{
  width: 50vw;
  height: 50vw;
}
.about__person{
  width: 80%;
}

.about__text{
  width: 80vw;
}

.about__links--icon{
  font-size: 6vw;
}

}
