.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.about__text {
  width: 55%;
  margin-bottom: 10%;
}
.about__heading {
  text-align: center;
}

.about__team {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.about__person {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
}

.about__links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.about__links--icon {
  font-size: 2rem;
}
