.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.about__text {
  width: 55%;
  margin-bottom: 10%;
}
.about__heading {
  text-align: center;
}

.about__team {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.about__person {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__img {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
}

.landing{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1570083208073-f0c09ea8dcf0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80") no-repeat center center fixed;
  background-size: cover;
}

.landing__title{
  width: 50%;
  text-align: center;
}

.about__links {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.about__links--icon {
  font-size: 2rem;
}

.copyright-footer{
display: flex;
height: 15rem;
justify-content: center;
align-items: center;
background-color: grey;
}

.copyright-footer__text{
text-align: center;
}